//Variables
$color-white: #fff;
$grey-color: #D8D8D8;
$yellow-color: #FFBE33;
$dark-red: #D22D4F;
$light-red: #F86358;
$light-blue: #eff;

$green-icon: #38e814;
$blue-icon: #00b0fc;


//BASE
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: $light-blue;
}

//COMPONENTS

.altcoins {
  letter-spacing: 0.5px;
  position: absolute;
  text-transform: uppercase;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: translate(-100%, -50%) rotate(-90deg) ;
          transform: translate(-100%, -50%) rotate(-90deg) ;
  font-size: 1rem;
  height: 2rem;
  background-color: $yellow-color;
  width: 11rem;
  text-align: center;
  padding-top: 2px;
  color: $color-white;
  text-shadow: 0px 0px 2px $grey-color;
}

.currency-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background-color: $color-white;
  height: 11rem;
  -webkit-box-shadow: 1px 1px 5px $grey-color;
          box-shadow: 1px 1px 5px $grey-color;

  [class*="col"] {
    height: 7.5rem;
    margin-top: 1.75rem;
  }

  &__col {


    &--1 {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      @extend %col-1-2;

      &:last-child {
        padding-top: 0.5rem;
      }
    }
    &--2 {
      -webkit-box-flex: 2;
          -ms-flex-positive: 2;
              flex-grow: 2;
      @extend %col-1-2;
    }
    &--3 {
      -webkit-box-flex: 2;
          -ms-flex-positive: 2;
              flex-grow: 2;
      text-align: left;
      padding: 0 9rem 0 3.5rem;
    }
  }
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: $yellow-color;
  display: inline-block;
}

.nums {
  font-size: 2rem;

  &--red {
    color: #D83550;
  }
}

//BUTTONS

.btn {
  &,
  &:link,
  &:visited {
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      border-radius: 0.4rem;
      -webkit-box-shadow: 0 4px 7px 0 rgba(60,23,10,0.34);
              box-shadow: 0 4px 7px 0 rgba(60,23,10,0.34);
      position: relative;
  }

  &--invest {
    padding: 1.05rem 1.75rem;
    font-weight: 600;
    color: $color-white;
    text-shadow: 0 1px 1px 0 &$grey-color;
    background: -webkit-gradient(linear, left top, right top, from($dark-red), to($light-red));
    background: linear-gradient(90deg, $dark-red 0%, $light-red 100%);
  }
}

//ICONS

.fa {
  font-size: 1.4rem;
  color: $grey-color;
  cursor: pointer;

  &-balance-scale:hover {
    color: $blue-icon;
  }

  &-eye:hover {
    color: $green-icon;
  }
}

//UTILITIES
.container {
  max-width: 120rem;
  margin: 0 auto;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.display-phone-only {
  display: none;
}

.display-desktop-only {
  display: block;
}

//MIXINS & EXTENDS

%col-1-2 {
  border-left: 1px solid $grey-color;
  padding-top: 1.4rem;
}

@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

//TYPOGRAPHY
.heading-quadrary {
  font-size: 1.4rem;
  font-weight: 400;
}

//MEDIA

@media (max-width: 1060px) {
  .btn {
      &--invest {
        padding: 1.05rem 0.75rem;
      }
  }

  .currency-row {
    &__col {

      &--1,
      &--2 {
        padding-top: 0.6rem;
      }
      &--3 {
        padding: 0 1.5rem 0 3rem;
      }
    }
  }
}

@media (max-width: 920px) {
  html {
    font-size: 50%;
  }
}


@media (max-width: 768px) {

    html {
      font-size: 62.5%;
    }

    .altcoins {
      width: 24.5rem;
    }

    .currency-row {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      height: 24.5rem;

      &__col {
        &--1,
        &--2 {
          padding-top: 1.4rem;
          -webkit-box-flex: 1;
              -ms-flex-positive: 1;
                  flex-grow: 1;
        }

        &--3 {
          width: 100%;

          &::after {
            display: block;
            margin: 0 auto;
            height: 1px;
            width: 100%;
            background-color: $grey-color;
            content: "";
          }
        }
      }
    }

    .btn {
      &--invest {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }

    .display-phone-only {
      display: block;
    }

    .display-desktop-only {
      display: none;
    }

    .fa {
      &-eye {
        float: right;
        margin-top: -1rem;

        @include clearfix;
      }
    }
}

@media (max-width: 396px) {
  .currency-row {

    &__col {
      &--3 {
        margin-bottom: 3.5rem;
      }
    }
  }
}
